/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/instagram/node_modules
.env
.env.testing
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.sqlite
/.fleet
/.idea
/.vscode
/docker
robots.txt
