// Body
$body-bg: #f8fafc;
$primary: #ff4135;
$mutted-color: #898a8f;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-font-family: 'Printopia', BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
$brand-font-family: 'Printopia', BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
$brand-font-family-bold: 'Printopia Bold', BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
$common-font-size: 14px;

$primary_color: #ff4135;
$text_color: #3f434e;

$max_width_mxs: 350px;
$max_width_cxs: 400px;
$max_width_xs: 575px;
$max_width_sm: 767px;
$min_width_md: 768px;
$max_width_md: 991px;
$min_width_lg: 992px;
$max_width_lg: 1199px;
$max_width_clg: 1100px;
$min_width_xl: 1200px;
